/* Загальні стилі */
* {margin;:0}

:root {
	--main-bg-color: #F5F5F5;
	--accent-bg-color: #2f303a;
	--main-text-color: #757575;
	--accent-text-color:#FFFFFF;
	--secondary-text-color: #000000;
	--accent-color: #2196f3;
	--order-button-bg-color: #188CE8;
	--header-button-text-color: #212121;
	--footer-link-color: #ffffff99;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
}

.link {
	text-decoration: none;
	color: var(--header-button-text-color);
}

.link:hover,
.link:focus,
.link:active {
	color: var(--accent-color);
	transition: 300ms linear;
}

.current {
	color: var(--accent-color);
}

.list {
	list-style: none;
}

/* перша частина лого */

.accent-logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

.section-header {
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--header-button-text-color);
}

/* Верхня лінія */

.topline {
	background-color: var(--topline-bg-color);
	display:flex
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.navigation {
	display: flex;
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--header-button-text-color);
}

.header-contacts {
	display: flex;
}
.header-phone,
.header-mail {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-text-color);
}

/* Підвал */

.footer {
	background-color: var(--accent-bg-color);
}

.down-logo {
	outline: red;
	background-color: #a9461c99;
	margin-left: 215px;
	padding-left: 100;
}

.footer-logo {
	font-family: "Raleway"; sans-serif;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--accent-text-color);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.address-list {
	margin-left: 0px;
	font-style: normal;
}

.map-link,
.footer-link {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.map-link {
	color: var(--accent-text-color);
}

.footer-link {
	color: var(--footer-link-color);
}

/* Студія */

.hero {
	background-color: var(--accent-bg-color);
}

.hero-header {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--accent-text-color);
}

.order-button {
	font-family: inherit;
	font-weight: 700
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	color: var(--accent-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order-button:active,
.order-button:focus,
.order-button:hover {
	
	background-color: var(--order-button-bg-color);
}


.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.features-list {
	display: flex;
}

.features-list-header {
	list-style: none;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-text-color);
}

.features-list-text {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

.activity-list {
	display: flex;
	list-style: none;
}

.team {
	background-color: var(--main-bg-color);
}

.team-list {
	display: flex;
	list-style: none;
}

.teammate-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--header-button-text-color);
}

.teammate-positiom {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/* Портфоліо */

.button-list {
display: flex;
justify-content: center;
gap: 8px
}

.button {
	background-color: var(--main-bg-color);
	border: none;
	padding: 6px 22px;
	margin-top: 94px;
	margin-bottom: 50px;
	color: var(--header-button-text-color);
	border-radius: 4px;
	cursor: pointer;
	height: 38px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
}

.button:active,
.button:focus,
.button:hover {
	background-color: var(--accent-color);
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	cursor: pointer;
}

.cards-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-card {
	
}

.portfolio-item {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--header-button-text-color);
}

.portfolio-item-type {
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

